@{ var session = (Ministop.ModelsView.DangNhapViewModel)Session["DangNhap"]; }
<section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">NHÂN VIÊN</li>
        <!-- Optionally, you can add icons to the links -->
        <li>
            <a href="#">
                <i class="fa fa-shopping-cart"></i> <span>Bán Hàng</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","Home")">
                <i class="fa fa-dollar"></i> <span>Thống kê</span>
            </a>
        </li>
        <li id="orders">
            <a href="#">
                <i class="fa fa-book"></i>
                <span>Hóa Đơn</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","NhapHang")">
                <i class="fa fa-plus"></i> <span>Nhập hàng</span>
            </a>
        </li>
        <li id="customers">
            <a href="@Url.Action("Index","KhachHang")">
                <i class="fa fa-users"></i> <span>Khách Hàng</span>
            </a>
        </li>
        @if (session.PhanQuyenID == 1)
        {
            <li class="header">QUẢN LÝ</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>Nhân viên</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index","NhanVien")"> Đang hoạt động</a></li>
                    <li><a href="@Url.Action("NgungHoatDong","NhanVien")"> Ngưng hoạt động</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user-secret"></i> <span>Nhà cung cấp</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index","NhaCungCap")"> Đang hoạt động</a></li>
                    <li><a href="@Url.Action("NgungHoatDong","NhaCungCap")"> Ngưng hoạt động</a></li>
                </ul>
            </li>
            <li id="products">
                <a href="@Url.Action("Index","SanPham")">
                    <i class="fa fa-shopping-basket"></i><span>Sản Phẩm</span>
                </a>
            </li>
            <li>
                <a href="####">
                    <i class="fa fa-cubes"></i> <span>#####</span>
                </a>
            </li>
        }
        <li class="header">QUẢN LÝ CÁ NHÂN</li>
        <li>
            <a href="@Url.Action("ThongTin","NhanVien", new { id = session.ID})">
                <i class="fa fa-user"></i> <span>Hồ Sơ Cá Nhân</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Logout","Login")" onclick="return confirm('Bạn đang tiến hành đăng xuất khỏi tài khoản');">
                <i class="fa fa-sign-out"></i> <span>Đăng xuất</span>
            </a>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
</section>




