@model IEnumerable<Ministop.ModelsView.NhapHangViewModel>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@section Scripts{
    <script>
         function IncreaseCount(item) {
            var id = $(item).attr('itemid');
            var count = $(item).prev().val();

            var obj = {
                soluong: soluong,
                tongtien: tongtien
            }

            $.ajax({
                url: '/NhapHang/CapNhat',
                method: 'POST',
                data: obj,
                success: function (data) {
                    $(item).prev().val(data.soluong);
                    $('#total-money').text(data.tongtien);
                },
                error: function () {
                    alert('there is some problem.')
                }
            });
        }
    </script>    
}

<!-- Main content -->
<section class="content mainRight">
    <div>
        <div class="col-xs-9">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><input type="checkbox" /></th>
                                <th>ID</th>
                                <th>Tên hàng</th>
                                <th>Giá bán</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td>@item.SanPham.ID</td>
                                    <td>@item.SanPham.TenSanPham</td>
                                    <td>@item.SanPham.GiaBan</td>
                                    <td>
                                        @item.SoLuong                                       
                                    </td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3 bg-white pt-4">
                    <div class="text-danger font-weight-bold bg-light p-3 rounded">
                        <div>
                            <span>Tổng tiền: </span>
                            <span id="total-money">@String.Format("{0:0,0}", 123) </span>₫
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-warning mt-3 w-100" id="btn-checkout" onclick="CheckSession()">Tiến hành đặt hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
