@model Ministop.ModelsView.SanPhamViewModel

<div class="modal-header">
    <h3 class="modal-title">Thêm sản phẩm</h3>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body form-horizontal">
    @Html.AntiForgeryToken()
    <form id="formCreate">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            <input type="file" name="HinhAnh" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TenSanPham, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.TenSanPham, new { @class = "form-control", required = "required" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LoaiSanPhamID, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownList("LoaiSanPhamID", null, "-- Chọn loại sản phẩm --", htmlAttributes: new { @class = "form-control", required = "required" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ThuongHieu, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.ThuongHieu, new { @class = "form-control", required = "required" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.SoLuong, new { @class = "form-control", required = "required" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GiaNhap, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.GiaNhap, new { @class = "form-control", required = "required" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GiaBan, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.GiaBan, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.GhiChu, new { @class = "form-control", rows = "5", cols = "20" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
    <button type="submit" id="btnCreate" class="btn btn-primary">Lưu</button>
</div>

<script>
    $(document).ready(function () {
        $("#btnCreate").click(function (e) {
            var formData = new FormData($("#formCreate")[0]);
            $.ajax({
                type: 'POST',
                url: "/SanPham/ThemMoi",
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result) {
                        alert("Thêm mới thành công");
                        location.reload();
                    }
                    else {
                        alert("Có lỗi xảy ra!!");
                    }
                }
            })
        })
    })
</script>
