@model PagedList.IPagedList<Ministop.ModelsView.NhaCungCapViewModel>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<section class="content mainRight">
    <div>
        <div class="col-xs-9">
            @using (Html.BeginForm("NgungHoatDong", "NhaCungCap", FormMethod.Get))
            {
                <input type="text" name="search" placeholder="Theo tên, số điện thoại" />
            }
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><input type="checkbox" /></th>
                                <th>ID</th>
                                <th>Tên nhà cung cấp</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                                <th>Mã số thuế</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.TinhTrang == false)
                                {
                                    <tr data-toggle="collapse" data-target="#accordion_@item.ID" class="clickable">
                                        <td><input type="checkbox" /></td>
                                        <td>@item.ID</td>
                                        <td>@item.TenNCC</td>
                                        <td>@item.SoDT</td>
                                        <td>@item.Email</td>
                                        <td>@item.MaSoThue</td>
                                        <td>
                                            <a href="@Url.Action("KichHoat", new { id = item.ID })">Kích hoạt</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = ViewBag.Search }))
                </div>
            </div>
        </div>
    </div>
</section>
